set_io out[0] HR_1_0_0P -mode Mode_BP_DIR_A_TX -internal_pin f2g_tx_out[0]_A
set_io out[1] HR_1_0_0P -mode Mode_BP_DIR_A_TX -internal_pin f2g_tx_out[1]_A
set_io out[2] HR_1_0_0P -mode Mode_BP_DIR_A_TX -internal_pin f2g_tx_out[2]_A
set_io out[3] HR_1_0_0P -mode Mode_BP_DIR_A_TX -internal_pin f2g_tx_out[3]_A
set_io out[4] HR_1_0_0P -mode Mode_BP_DIR_A_TX -internal_pin f2g_tx_out[4]_A
set_io out[5] HR_1_0_0P -mode Mode_BP_DIR_A_TX -internal_pin f2g_tx_out[5]_A
set_io out[6] HR_1_0_0P -mode Mode_BP_DIR_A_TX -internal_pin f2g_tx_out[6]_A
set_io out[7] HR_1_0_0P -mode Mode_BP_DIR_A_TX -internal_pin f2g_tx_out[7]_A
set_io out[8] HR_1_0_0P -mode Mode_BP_DIR_A_TX -internal_pin f2g_tx_out[8]_A
