set_io HWDATA[0] s0_hwdata_0_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[1] s0_hwdata_1_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[2] s0_hwdata_2_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[3] s0_hwdata_3_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[4] s0_hwdata_4_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[5] s0_hwdata_5_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[6] s0_hwdata_6_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[7] s0_hwdata_7_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[8] s0_hwdata_8_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[9] s0_hwdata_9_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[10] s0_hwdata_10_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[11] s0_hwdata_11_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[12] s0_hwdata_12_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[13] s0_hwdata_13_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[14] s0_hwdata_14_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[15] s0_hwdata_15_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[16] s0_hwdata_16_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[17] s0_hwdata_17_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[18] s0_hwdata_18_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[19] s0_hwdata_19_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[20] s0_hwdata_20_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[21] s0_hwdata_21_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[22] s0_hwdata_22_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[23] s0_hwdata_23_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[24] s0_hwdata_24_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[25] s0_hwdata_25_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[26] s0_hwdata_26_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[27] s0_hwdata_27_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[28] s0_hwdata_28_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[29] s0_hwdata_29_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[30] s0_hwdata_30_i -mode Mode_BP_DIR_A_RX
set_io HWDATA[31] s0_hwdata_31_i -mode Mode_BP_DIR_A_RX
set_io HWRITE s0_hwrite_i -mode Mode_BP_DIR_A_RX
set_io HTRANS[0] s0_htrans_0_i -mode Mode_BP_DIR_A_RX
set_io HTRANS[1] s0_htrans_1_i -mode Mode_BP_DIR_A_RX
set_io HSIZE[0] s0_hsize_0_i -mode Mode_BP_DIR_A_RX
set_io HSIZE[1] s0_hsize_1_i -mode Mode_BP_DIR_A_RX
set_io HSIZE[2] s0_hsize_2_i -mode Mode_BP_DIR_A_RX
set_io HSEL s0_hsel_i -mode Mode_BP_DIR_A_RX
set_io HRESP s0_hresp_o -mode Mode_BP_DIR_A_TX
set_io HREADYOUT s0_hready_o -mode Mode_BP_DIR_A_TX
set_io HREADY m0_hready_i -mode Mode_BP_DIR_A_RX
set_io HRDATA[0] s0_hrdata_0_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[1] s0_hrdata_1_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[2] s0_hrdata_2_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[3] s0_hrdata_3_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[4] s0_hrdata_4_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[5] s0_hrdata_5_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[6] s0_hrdata_6_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[7] s0_hrdata_7_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[8] s0_hrdata_8_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[9] s0_hrdata_9_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[10] s0_hrdata_10_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[11] s0_hrdata_11_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[12] s0_hrdata_12_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[13] s0_hrdata_13_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[14] s0_hrdata_14_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[15] s0_hrdata_15_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[16] s0_hrdata_16_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[17] s0_hrdata_17_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[18] s0_hrdata_18_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[19] s0_hrdata_19_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[20] s0_hrdata_20_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[21] s0_hrdata_21_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[22] s0_hrdata_22_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[23] s0_hrdata_23_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[24] s0_hrdata_24_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[25] s0_hrdata_25_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[26] s0_hrdata_26_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[27] s0_hrdata_27_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[28] s0_hrdata_28_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[29] s0_hrdata_29_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[30] s0_hrdata_30_o -mode Mode_BP_DIR_A_TX
set_io HRDATA[31] s0_hrdata_31_o -mode Mode_BP_DIR_A_TX
set_io HPROT[0] s0_hprot_0_i -mode Mode_BP_DIR_A_RX
set_io HPROT[1] s0_hprot_1_i -mode Mode_BP_DIR_A_RX
set_io HPROT[2] s0_hprot_2_i -mode Mode_BP_DIR_A_RX
set_io HPROT[3] s0_hprot_3_i -mode Mode_BP_DIR_A_RX
set_io HBURST[0] s0_hburst_0_i -mode Mode_BP_DIR_A_RX
set_io HBURST[1] s0_hburst_1_i -mode Mode_BP_DIR_A_RX
set_io HBURST[2] s0_hburst_2_i -mode Mode_BP_DIR_A_RX
set_io HADDR[0] s0_haddr_0_i -mode Mode_BP_DIR_A_RX
set_io HADDR[1] s0_haddr_1_i -mode Mode_BP_DIR_A_RX
set_io HADDR[2] s0_haddr_2_i -mode Mode_BP_DIR_A_RX
set_io HADDR[3] s0_haddr_3_i -mode Mode_BP_DIR_A_RX
set_io HADDR[4] s0_haddr_4_i -mode Mode_BP_DIR_A_RX
set_io HADDR[5] s0_haddr_5_i -mode Mode_BP_DIR_A_RX
set_io HADDR[6] s0_haddr_6_i -mode Mode_BP_DIR_A_RX
set_io HADDR[7] s0_haddr_7_i -mode Mode_BP_DIR_A_RX
set_io HADDR[8] s0_haddr_8_i -mode Mode_BP_DIR_A_RX
set_io HADDR[9] s0_haddr_9_i -mode Mode_BP_DIR_A_RX
set_io HADDR[10] s0_haddr_10_i -mode Mode_BP_DIR_A_RX
set_io HADDR[11] s0_haddr_11_i -mode Mode_BP_DIR_A_RX
set_io HADDR[12] s0_haddr_12_i -mode Mode_BP_DIR_A_RX
set_io HADDR[13] s0_haddr_13_i -mode Mode_BP_DIR_A_RX
set_io HADDR[14] s0_haddr_14_i -mode Mode_BP_DIR_A_RX
set_io HADDR[15] s0_haddr_15_i -mode Mode_BP_DIR_A_RX
set_io HADDR[16] s0_haddr_16_i -mode Mode_BP_DIR_A_RX
set_io HADDR[17] s0_haddr_17_i -mode Mode_BP_DIR_A_RX
set_io HADDR[18] s0_haddr_18_i -mode Mode_BP_DIR_A_RX
set_io HADDR[19] s0_haddr_19_i -mode Mode_BP_DIR_A_RX
set_io HADDR[20] s0_haddr_20_i -mode Mode_BP_DIR_A_RX
set_io HADDR[21] s0_haddr_21_i -mode Mode_BP_DIR_A_RX
set_io HADDR[22] s0_haddr_22_i -mode Mode_BP_DIR_A_RX
set_io HADDR[23] s0_haddr_23_i -mode Mode_BP_DIR_A_RX
set_io HADDR[24] s0_haddr_24_i -mode Mode_BP_DIR_A_RX
set_io HADDR[25] s0_haddr_25_i -mode Mode_BP_DIR_A_RX
set_io HADDR[26] s0_haddr_26_i -mode Mode_BP_DIR_A_RX
set_io HADDR[27] s0_haddr_27_i -mode Mode_BP_DIR_A_RX
set_io HADDR[28] s0_haddr_28_i -mode Mode_BP_DIR_A_RX
set_io HADDR[29] s0_haddr_29_i -mode Mode_BP_DIR_A_RX
set_io HADDR[30] s0_haddr_30_i -mode Mode_BP_DIR_A_RX
set_io HADDR[31] s0_haddr_31_i -mode Mode_BP_DIR_A_RX
