set_io clk BOOT_CONFIG_DONE_GPIO_0 -mode MODE_GPIO  -pt_row 42  #  device: GPIO_A_0  pt_row: 42  isInput:1  colM_dir:Input_dir
set_io rst BOOT_CONFIG_ERROR_GPIO_1 -mode MODE_GPIO  -pt_row 43  #  device: GPIO_A_1  pt_row: 43  isInput:1  colM_dir:Input_dir
set_io in[0] BOOT_UART_TX_GPIO_2 -mode MODE_GPIO  -pt_row 44  #  device: GPIO_A_2  pt_row: 44  isInput:1  colM_dir:Input_dir
set_io in[1] BOOT_UART_RX_GPIO_3 -mode MODE_GPIO  -pt_row 45  #  device: GPIO_A_3  pt_row: 45  isInput:1  colM_dir:Input_dir
set_io in[2] BOOT_SPI_CS_GPIO_4 -mode MODE_GPIO  -pt_row 46  #  device: GPIO_A_4  pt_row: 46  isInput:1  colM_dir:Input_dir
set_io in[3] BOOT_SPI_MOSI_DQ0_GPIO_5 -mode MODE_GPIO  -pt_row 47  #  device: GPIO_A_5  pt_row: 47  isInput:1  colM_dir:Input_dir
set_io in[4] BOOT_SPI_MISO_DQ1_GPIO_6 -mode MODE_GPIO  -pt_row 48  #  device: GPIO_A_6  pt_row: 48  isInput:1  colM_dir:Input_dir
set_io in[5] BOOT_SPI_DQ2_GPIO_7 -mode MODE_GPIO  -pt_row 49  #  device: GPIO_A_7  pt_row: 49  isInput:1  colM_dir:Input_dir
set_io in[6] SOC_UART0_TX_8 -mode MODE_GPIO  -pt_row 50  #  device: GPIO_B_0  pt_row: 50  isInput:1  colM_dir:Input_dir
set_io in[7] SOC_UART0_RX_9 -mode MODE_GPIO  -pt_row 51  #  device: GPIO_B_1  pt_row: 51  isInput:1  colM_dir:Input_dir
set_io in[8] SOC_GPIO8_UART1_TX_10 -mode MODE_GPIO  -pt_row 52  #  device: GPIO_B_2  pt_row: 52  isInput:1  colM_dir:Input_dir
set_io in[9] SOC_GPIO9_UART1_RX_11 -mode MODE_GPIO  -pt_row 53  #  device: GPIO_B_3  pt_row: 53  isInput:1  colM_dir:Input_dir
set_io in[10] SOC_SPI_CS_12 -mode MODE_GPIO  -pt_row 54  #  device: GPIO_B_4  pt_row: 54  isInput:1  colM_dir:Input_dir
set_io in[11] SOC_GPIO10_13 -mode MODE_GPIO  -pt_row 55  #  device: GPIO_B_5  pt_row: 55  isInput:1  colM_dir:Input_dir
set_io in[12] SOC_SPI_MOSI_14 -mode MODE_GPIO  -pt_row 56  #  device: GPIO_B_6  pt_row: 56  isInput:1  colM_dir:Input_dir
set_io in[13] SOC_SPI_MISO_15 -mode MODE_GPIO  -pt_row 57  #  device: GPIO_B_7  pt_row: 57  isInput:1  colM_dir:Input_dir
set_io in[14] SOC_SPI_DQ2_16 -mode MODE_GPIO  -pt_row 58  #  device: GPIO_B_8  pt_row: 58  isInput:1  colM_dir:Input_dir
set_io in[15] SOC_SPI_DQ3_17 -mode MODE_GPIO  -pt_row 59  #  device: GPIO_B_9  pt_row: 59  isInput:1  colM_dir:Input_dir
set_io in[16] SOC_GPIO11_18 -mode MODE_GPIO  -pt_row 60  #  device: GPIO_B_10  pt_row: 60  isInput:1  colM_dir:Input_dir
set_io in[17] SOC_I2C_SDA_19 -mode MODE_GPIO  -pt_row 61  #  device: GPIO_B_11  pt_row: 61  isInput:1  colM_dir:Input_dir
set_io in[18] SOC_GPIO12_20 -mode MODE_GPIO  -pt_row 62  #  device: GPIO_B_12  pt_row: 62  isInput:1  colM_dir:Input_dir
set_io in[19] SOC_GPIO13_21 -mode MODE_GPIO  -pt_row 63  #  device: GPIO_B_13  pt_row: 63  isInput:1  colM_dir:Input_dir
set_io in[20] SOC_GPIO14_22 -mode MODE_GPIO  -pt_row 64  #  device: GPIO_B_14  pt_row: 64  isInput:1  colM_dir:Input_dir
set_io in[21] SOC_GPIO15_23 -mode MODE_GPIO  -pt_row 65  #  device: GPIO_B_15  pt_row: 65  isInput:1  colM_dir:Input_dir
set_io in[22] SOC_GPIO16_PWM0_24 -mode MODE_GPIO  -pt_row 66  #  device: GPIO_C_0  pt_row: 66  isInput:1  colM_dir:Input_dir
set_io in[23] SOC_GPIO17_PWM1_25 -mode MODE_GPIO  -pt_row 67  #  device: GPIO_C_1  pt_row: 67  isInput:1  colM_dir:Input_dir
set_io in[24] SOC_GPIO18_PWM2_26 -mode MODE_GPIO  -pt_row 68  #  device: GPIO_C_2  pt_row: 68  isInput:1  colM_dir:Input_dir
set_io in[25] SOC_GPIO19_PWM3_27 -mode MODE_GPIO  -pt_row 69  #  device: GPIO_C_3  pt_row: 69  isInput:1  colM_dir:Input_dir
set_io in[26] SOC_GPIO20_UART0_CTS_28 -mode MODE_GPIO  -pt_row 70  #  device: GPIO_C_4  pt_row: 70  isInput:1  colM_dir:Input_dir
set_io in[27] SOC_GPIO21_UART0_RTS_29 -mode MODE_GPIO  -pt_row 71  #  device: GPIO_C_5  pt_row: 71  isInput:1  colM_dir:Input_dir
set_io in[28] SOC_GPIO22_UART1_CTS_30 -mode MODE_GPIO  -pt_row 72  #  device: GPIO_C_6  pt_row: 72  isInput:1  colM_dir:Input_dir
set_io in[29] SOC_GPIO23_UART1_RTS_31 -mode MODE_GPIO  -pt_row 73  #  device: GPIO_C_7  pt_row: 73  isInput:1  colM_dir:Input_dir
set_io in[30] SOC_GPIO24_32 -mode MODE_GPIO  -pt_row 74  #  device: GPIO_C_8  pt_row: 74  isInput:1  colM_dir:Input_dir
set_io in[31] SOC_GPIO25_33 -mode MODE_GPIO  -pt_row 75  #  device: GPIO_C_9  pt_row: 75  isInput:1  colM_dir:Input_dir
set_io out[0] BOOT_CONFIG_DONE_GPIO_0 -mode MODE_GPIO  -pt_row 2  #  device: GPIO_A_0  pt_row: 2  isInput:0  colM_dir:Output_dir
set_io out[1] BOOT_CONFIG_ERROR_GPIO_1 -mode MODE_GPIO  -pt_row 3  #  device: GPIO_A_1  pt_row: 3  isInput:0  colM_dir:Output_dir
set_io out[2] BOOT_UART_TX_GPIO_2 -mode MODE_GPIO  -pt_row 4  #  device: GPIO_A_2  pt_row: 4  isInput:0  colM_dir:Output_dir
set_io out[3] BOOT_UART_RX_GPIO_3 -mode MODE_GPIO  -pt_row 5  #  device: GPIO_A_3  pt_row: 5  isInput:0  colM_dir:Output_dir
set_io out[4] BOOT_SPI_CS_GPIO_4 -mode MODE_GPIO  -pt_row 6  #  device: GPIO_A_4  pt_row: 6  isInput:0  colM_dir:Output_dir
set_io out[5] BOOT_SPI_MOSI_DQ0_GPIO_5 -mode MODE_GPIO  -pt_row 7  #  device: GPIO_A_5  pt_row: 7  isInput:0  colM_dir:Output_dir
set_io out[6] BOOT_SPI_MISO_DQ1_GPIO_6 -mode MODE_GPIO  -pt_row 8  #  device: GPIO_A_6  pt_row: 8  isInput:0  colM_dir:Output_dir
set_io out[7] BOOT_SPI_DQ2_GPIO_7 -mode MODE_GPIO  -pt_row 9  #  device: GPIO_A_7  pt_row: 9  isInput:0  colM_dir:Output_dir
set_io out[8] SOC_UART0_TX_8 -mode MODE_GPIO  -pt_row 10  #  device: GPIO_B_0  pt_row: 10  isInput:0  colM_dir:Output_dir
set_io out[9] SOC_UART0_RX_9 -mode MODE_GPIO  -pt_row 11  #  device: GPIO_B_1  pt_row: 11  isInput:0  colM_dir:Output_dir
set_io out[10] SOC_GPIO8_UART1_TX_10 -mode MODE_GPIO  -pt_row 12  #  device: GPIO_B_2  pt_row: 12  isInput:0  colM_dir:Output_dir
set_io out[11] SOC_GPIO9_UART1_RX_11 -mode MODE_GPIO  -pt_row 13  #  device: GPIO_B_3  pt_row: 13  isInput:0  colM_dir:Output_dir
set_io out[12] SOC_SPI_CS_12 -mode MODE_GPIO  -pt_row 14  #  device: GPIO_B_4  pt_row: 14  isInput:0  colM_dir:Output_dir
set_io out[13] SOC_GPIO10_13 -mode MODE_GPIO  -pt_row 15  #  device: GPIO_B_5  pt_row: 15  isInput:0  colM_dir:Output_dir
set_io out[14] SOC_SPI_MOSI_14 -mode MODE_GPIO  -pt_row 16  #  device: GPIO_B_6  pt_row: 16  isInput:0  colM_dir:Output_dir
set_io out[15] SOC_SPI_MISO_15 -mode MODE_GPIO  -pt_row 17  #  device: GPIO_B_7  pt_row: 17  isInput:0  colM_dir:Output_dir
set_io out[16] SOC_SPI_DQ2_16 -mode MODE_GPIO  -pt_row 18  #  device: GPIO_B_8  pt_row: 18  isInput:0  colM_dir:Output_dir
set_io out[17] SOC_SPI_DQ3_17 -mode MODE_GPIO  -pt_row 19  #  device: GPIO_B_9  pt_row: 19  isInput:0  colM_dir:Output_dir
set_io out[18] SOC_GPIO11_18 -mode MODE_GPIO  -pt_row 20  #  device: GPIO_B_10  pt_row: 20  isInput:0  colM_dir:Output_dir
set_io out[19] SOC_I2C_SDA_19 -mode MODE_GPIO  -pt_row 21  #  device: GPIO_B_11  pt_row: 21  isInput:0  colM_dir:Output_dir
set_io out[20] SOC_GPIO12_20 -mode MODE_GPIO  -pt_row 22  #  device: GPIO_B_12  pt_row: 22  isInput:0  colM_dir:Output_dir
set_io out[21] SOC_GPIO13_21 -mode MODE_GPIO  -pt_row 23  #  device: GPIO_B_13  pt_row: 23  isInput:0  colM_dir:Output_dir
set_io out[22] SOC_GPIO14_22 -mode MODE_GPIO  -pt_row 24  #  device: GPIO_B_14  pt_row: 24  isInput:0  colM_dir:Output_dir
set_io out[23] SOC_GPIO15_23 -mode MODE_GPIO  -pt_row 25  #  device: GPIO_B_15  pt_row: 25  isInput:0  colM_dir:Output_dir
set_io out[24] SOC_GPIO16_PWM0_24 -mode MODE_GPIO  -pt_row 26  #  device: GPIO_C_0  pt_row: 26  isInput:0  colM_dir:Output_dir
set_io out[25] SOC_GPIO17_PWM1_25 -mode MODE_GPIO  -pt_row 27  #  device: GPIO_C_1  pt_row: 27  isInput:0  colM_dir:Output_dir
set_io out[26] SOC_GPIO18_PWM2_26 -mode MODE_GPIO  -pt_row 28  #  device: GPIO_C_2  pt_row: 28  isInput:0  colM_dir:Output_dir
set_io out[27] SOC_GPIO19_PWM3_27 -mode MODE_GPIO  -pt_row 29  #  device: GPIO_C_3  pt_row: 29  isInput:0  colM_dir:Output_dir
set_io out[28] SOC_GPIO20_UART0_CTS_28 -mode MODE_GPIO  -pt_row 30  #  device: GPIO_C_4  pt_row: 30  isInput:0  colM_dir:Output_dir
set_io out[29] SOC_GPIO21_UART0_RTS_29 -mode MODE_GPIO  -pt_row 31  #  device: GPIO_C_5  pt_row: 31  isInput:0  colM_dir:Output_dir
set_io out[30] SOC_GPIO22_UART1_CTS_30 -mode MODE_GPIO  -pt_row 32  #  device: GPIO_C_6  pt_row: 32  isInput:0  colM_dir:Output_dir
set_io out[31] SOC_GPIO23_UART1_RTS_31 -mode MODE_GPIO  -pt_row 33  #  device: GPIO_C_7  pt_row: 33  isInput:0  colM_dir:Output_dir
