set_io a HR_1_0_0P -mode Mode_BP_DIR_A_RX -internal_pin g2f_rx_in[0]_A
set_io b HP_1_26_13P -mode Mode_BP_SDR_A_RX -internal_pin g2f_rx_in[0]_A
set_io c HP_1_24_12P -mode Mode_BP_SDR_A_TX -internal_pin f2g_tx_out[0]_A
